In [1]:
# Import Pandas
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

# Read database
df = pd.read_excel("https://www.sharkattackfile.net/spreadsheets/GSAF5.xls")
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Unnamed: 11,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,"Minor injuries to back, abdomen and legs",NaN,16h00,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",N,NaN,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,N,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,N,11h30,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,N,NaN,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/,NaN,NaN,NaN,NaN,NaN,NaN
6965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/,NaN,NaN,NaN,NaN,NaN,NaN
6966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/,NaN,NaN,NaN,NaN,NaN,NaN
6967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/,NaN,NaN,NaN,NaN,NaN,NaN
6968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://sharkattackfile.net/spreadsheets/pdf_directory/,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.Age.unique()

array(['13', nan, '11', '46', '32', '29', '10', '64', '62', '39', '22',
       '15', '16', '21', '66', '52', '20', '44', '26', '47', '55', '30',
       '59', '8', '50', '45', '34', '38', '30s', '37', '9', '19', '20/30',
       '35', '65', '20s', '77', '60', 38, '49', '42', '!2', '24', '73',
       '25', '18', '50s', '58', '67', '17', '14', '6', '41', '53', '68',
       '43', '40', '51', '31', 39, 26, 58, 51, 14, 17, 10, 13, 33, 16, 40,
       49, 41, 60, 28, '40s', 68, 35, 62, 'teen', 20, 8, 22, 32, 56,
       'Teen', 12, 21, 42, 36, 18, 37, 50, 'M', 9, 24, 15, 11, 27, 57, 34,
       25, '!6', 31, 64, '!!', 47, 55, 19, 7, 71, 48, 59, 53, 54, 75,
       '45 and 15', 46, 61, 73, 52, 29, 30, 70, 23, 4, 63, 45, 44,
       '28 & 22', '22, 57, 31', '60s', "20's", 43, 65, 67, 74, '9 & 60',
       'a minor', 6, 69, 3, 82, 66, 72, '23', '12', '36', '63', '71',
       '48', '70', '18 months', '57', '7', '28', '33', '61', '74', '27',
       '3', '56', '28 & 26', '5', '54', '86', '18 or 20', '12 or 13',
       '46 & 34', '28, 23 & 30', 'Teens', 77, '36 & 26', '8 or 10', 84,
       '\xa0 ', ' ', '30 or 36', '6½', '21 & ?', '33 or 37', 'mid-30s',
       '23 & 20', 5, ' 30', '7      &    31', ' 28', '20?', "60's", '69',
       '32 & 30', '16 to 18', '87', 'Elderly', 'mid-20s', 'Ca. 33', '74 ',
       '45 ', '21 or 26', '20 ', '>50', '18 to 22', 'adult', '9 & 12',
       '? & 19', '9 months', '25 to 35', '23 & 26', 1, '(adult)',
       '33 & 37', '25 or 28', '37, 67, 35, 27,  ? & 27', '21, 34,24 & 35',
       '30 & 32', '50 & 30', '17 & 35', 'X', '"middle-age"', '13 or 18',
       '34 & 19', '33 & 26', '2 to 3 months', '4', 'MAKE LINE GREEN',
       ' 43', '81', '"young"', '7 or 8', 78, '17 & 16', 'F', 'Both 11',
       '9 or 10', 'young', '36 & 23', '  ', '78', 'A.M.', '?    &   14',
       '10 or 12', '31 or 33', '2½', '1', '13 or 14'], dtype=object)

In [7]:
result = df[df['Age'] == "2 to 3 months"]
result

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Unnamed: 11,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
4840,1957,1957.0,Invalid,CUBA,Havana Province,Cojimar,NaN,an infant,NaN,2 to 3 months,"FATAL, but was it an accident or infanticide?",NaN,NaN,3.7 m [12'] shark,"F. Poli, p.23-24",1957.00.00.i-baby,http://sharkattackfile.net/spreadsheets/pdf_directory/1957.00.00.i-baby,http://sharkattackfile.net/spreadsheets/pdf_directory/1957.00.00.i-baby,1957.00.00.i,1957.00.00.i,2102.0,NaN,NaN

In [8]:
df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Unnamed: 11,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,"Minor injuries to back, abdomen and legs",NaN,16h00,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,NaN,"No injury, shark bit surfboard",N,NaN,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,N,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,N,11h30,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,N,NaN,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
import pandas as pd
import numpy as np
import re

# Relee el archivo para asegurarte de que el DataFrame esté limpio
df = pd.read_excel("https://www.sharkattackfile.net/spreadsheets/GSAF5.xls")

# Paso 1: Limpiar espacios vacíos y caracteres extraños en la columna 'Age'
df['Age'] = df['Age'].astype(str).str.strip()
df['Age'] = df['Age'].replace({'\xa0': '', ' ': '', '>': '', '"': ''}, regex=True)

# Paso 2: Dividir edades separadas por '&', 'and', '/', 'to'
df_expanded = df['Age'].str.split(r'[&/,\sto]+', expand=True).stack().reset_index(level=1, drop=True).to_frame('Age')

df_expanded['Age'] = df_expanded['Age'].str.strip()

# Paso 3: Convertir meses a años
def convertir_meses(valor):
    if isinstance(valor, str) and 'month' in valor.lower():
        num_meses = pd.to_numeric(''.join(filter(str.isdigit, valor)), errors='coerce')
        if pd.notnull(num_meses):
            return 0 if num_meses < 6 else 1
    return valor

df_expanded['Age'] = df_expanded['Age'].apply(lambda x: convertir_meses(x))

# Paso 4: Asignar valores promedio a descripciones
edad_promedio = {
    'middle-age': 45,
    'mid-20s': 25,
    'a minor': 17,
    'aminor': 17,
    'amin': 17,
    'y': 18,
    'ung': 18,
    'young': 18,
    'teen': 15,
    'een': 15,
    "Teen": 15,
    "Teens": 15,
    'teens': 15,
    'adult': 30,
    "adul": 30,
    "(adult)": 30,
    "(adul": 30,
    'elderly': 70,
    'Elderly': 70,
    "mid-30s": 35,
    "20's": 20,
    "20s": 20,
    "30s": 30,
    "40s": 40,
    "50s": 50,
    "60s": 60,
    "60's": 60,
    "2½": 3,
    "6½": 7,
    'X': np.nan,
    'F': np.nan,
    'M': np.nan,
    "!2": 12,
    "!!": 11,
    "h11": 11,
    "!6": 16,
    "20?": 20,
    "Ca.33": 33,
    "A.M.": 15,
    "MAKELINEGREEN": np.nan,
    "r8": 8,
    "r10": 10,
    "r12": 12,
    "r13": 13,
    "r10": 10,
    "r18": 18,
    "r20": 20,
    "r26": 26,
    "r28": 28,
    "r33": 33,
    "r36": 36,
    "r37": 37,
    "3m": 1,
    "9m": 1,
    "18m": 2,
    "?": np.nan,
    "": np.nan,
    "nan": np.nan,
    ")": np.nan,
    "n": np.nan,
    "hs": np.nan,
    "r": np.nan,
    "B": 8,

    # Añadir más valores según sea necesario
}

df_expanded['Age'] = df_expanded['Age'].replace(edad_promedio)

# Paso 5: Procesar filas con múltiples valores
def calcular_promedio(valor):
    if isinstance(valor, str) and ('or' in valor or ',' in valor):
        valores = pd.to_numeric(valor.replace('or', ',').split(','), errors='coerce')
        valores_limpios = valores[~np.isnan(valores)]  # Filtrar NaNs
        if valores_limpios.size > 0:  # Verifica que no esté vacío
            return np.mean(valores_limpios)
    return valor

df_expanded['Age'] = df_expanded['Age'].apply(calcular_promedio)

# Paso adicional: Separar edades combinadas como "45and15"
def separar_edades_combinadas(valor):
    if isinstance(valor, str) and 'and' in valor:
        edades = re.findall(r'\d+', valor)  # Extrae todos los números
        if edades:
            edades = list(map(int, edades))
            return np.mean(edades)  # Calcula el promedio
    return valor

df_expanded['Age'] = df_expanded['Age'].apply(separar_edades_combinadas)

# Paso 6: Integrar de nuevo al DataFrame original
df_expanded = df_expanded.reset_index(drop=True)  # Asegúrate de que el índice sea único
df = df.reset_index(drop=True)  # Asegúrate de que el índice sea único

# Reintegrar la columna 'Age' procesada al DataFrame original
df['Age'] = df_expanded['Age']

# Convertir en números
df["Age"] = pd.to_numeric(df["Age"], errors="coerce").astype('Int64')

# Paso 7: Revisar el DataFrame final
df['Age'].unique()

<IntegerArray>
[  13, <NA>,   11,   46,   32,   29,   10,   64,   62,   39,   22,   15,   16,
   21,   66,   52,   20,   44,   26,   47,   55,   30,   59,    8,   50,   45,
   34,   38,   37,    9,   19,   35,   65,   77,   60,   49,   42,   12,   24,
   73,   25,   18,   58,   67,   17,   14,    6,   41,   53,   68,   43,   40,
   51,   31,   33,   28,   56,   36,   27,   57,    7,   71,   48,   54,   75,
   61,   70,   23,    4,   63,   74,   69,    3,   82,   72,    2,    5,   86,
   84,   87,    1,   81,   78]
Length: 83, dtype: Int64

In [13]:
df.head(30)

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,Injury,Unnamed: 11,Time,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,15 Mar 2024,2024.0,Unprovoked,AUSTRALIA,Queensland,Bargara Beach,Swimming,Brooklyn Sauer,F,13,"Minor injuries to back, abdomen and legs",NaN,16h00,Tiger shark,"Yahoo News, 3/15/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04 Mar 2024,2024.0,Unprovoked,USA,Hawaii,"Old Man's, Waikiki",Surfing,Matthew White,M,<NA>,"No injury, shark bit surfboard",N,NaN,Tiger shark 8',"Surfer, 3/6/2024F",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02 Mar-2024,2024.0,Unprovoked,USA,Hawaii,"Rainbows, Oahu",Swimming,NaN,F,11,Lacerations to left foot,N,13h30,3' to 4' shark,"Hawaii News Now, 3/4/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,25 Feb-2024,2024.0,Unprovoked,AUSTRALIA,Western Australia,"Sandlnd Island, Jurian Bay",NaN,female,F,46,Leg bitten,N,11h30,Tiger shark,"WA Today, 2/26/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14 Feb-2024,2024.0,Unprovoked,INDIA,Maharashtra,"Vaitarna River, Palghar District",Fishing,Vicky Suresh Govari,M,32,Calf of lower left leg injured,N,NaN,"Bull shark, 7'","Times of India, 2/14/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,04-Feb-2024,2024.0,Provoked,TRINIDAD,NaN,NaN,Spearfishing,male,M,<NA>,Shoulder bitten,N,06h30,Blacktip reef shark,"Trinidad Guardian, 2/11/2014",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,29 Jan-2024,2024.0,Unprovoked,AUSTRALIA,New South Wales,"Elizabeth Bay, Sydney Harbor",Swimming,Lauren O'Neill,F,29,Right leg bitten,N,20h00,Bull shark,"Nine News, 12/31/2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,15 Jan-2024,2024.0,Unprovoked,BAHAMAS,Paradise Island,Paradise Island Resort,Swimming,male,M,10,Right leg injured,N,16h00,NaN,"Caribbean Loop News, 1/15;2024",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,09-Jan-2024,2024.0,Unprovoked,AUSTRALIA,South Australia,"Walkers Beach, Elliston",Surfing,Murray Adams,M,64,Leg bitten,N,13h00,White shark,"A. Currie, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,05-Jan-2024,2024.0,Provoked,SOUTH AFRICA,Eastern Cape Province,Papiesfontein,Fishing,male,M,62,Provoked incident. Lacerations and puncture wounds to hand and calf from hooked shark,N,NaN,Raggedtooth shark,Jacaranda fm. 12/6/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,30 Dec-2023,2023.0,Unprovoked,USA,Hawaii,"Baby Beach, Maui",Surfing,Jason Carter,M,39,FATAL,Y,11h12,NaN,"Surfer, 12/31/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,29 Dec-2023,2023.0,Unprovoked,MEXICO,Sonora,"Tojahui Beach, Yavaros, Huatabampo",Free diving,Víctor Alejandro “N”,M,22,FATAL,Y,13h00,White shark,"EuroESEuro, 12/31/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,28 Dec-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Ethel Beach,Surfing,Khai Cowley,M,15,FATAL,Y,13h30,"White shark, 13'","S. DeMarchi, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,25 Dec-2023,2023.0,Unprovoked,AUSTRALIA,New South Wales,Old Bar,Surfing,Julian McLennan,M,16,Injury to right thigh,N,16h30,NaN,"9 News, 12/26/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,24-Dec-2023,2023.0,Unprovoked,AUSTRALIA,Western Australia,Wedge Island,Foil Boarding,Troy Brown,M,46,Puncture wounds to right ankle,N,15h00,Broze whaler?,"9 News, 12/25/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,18 Dec-2023,2023.0,Unprovoked,NEW ZEALAND,South Island,Riverton,Wading,female,F,21,Significant injury to leg,N,02h00,Sevengill shark,"NZ Herald, 12/18/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,14 Dec-2023,2023.0,Questionable,MEXICO,Guerrero,"Playa Quieta, Ixtapa, Zihuatanejo",Swimming,Joseph Leopold Bynens,M,66,FATAL,Y,09h15,Shark involment not confirmed,"EL Pais, 12/15/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,14 Dec-2023,2023.0,Questionable,MEXICO,Guerrero,"Playa Quieta, Ixtapa, Zihuatanejo",Swimming,Valerie Haurowitz,F,52,Injury to lower left leg,N,Early Morning,Shark involment not confirmed,"EL Pais, 12/15/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,08 Dec-2023,2023.0,Unprovoked,AUSTRALIA,Queensland,1770,Snorkeling,Matteo Mariotti,M,20,Leg severely injured,N,16h32,NaN,"B. Myatt, GSAF",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,04 Dec-2023,2023.0,Unprovoked,BAHAMAS,New Providence Isoad,Sandals Resort,Paddle boarding,Lauren Erickson Van Wart,F,44,FATAL,Y,11h00,NaN,"NBC News, 12/4/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,02 Dec-2023,2023.0,Unprovoked,MEXICO,Jalisco,San Patricio Melaque,Swimming,Maria Fernandez Martinez Jimenez,F,26,FATAL,Y,Morning,NaN,"News Channel 21, 12/3.2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,30 Nov-2023,2023.0,Unprovoked,AUSTRALIA,Queensland,Clack Island,Swimming,Matthew Davitt,M,21,Puncture wounds to right upper arm,N,11h30,1.8m bull shark,"ABC Net, 11/30/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,21 Nov-2023,2023.0,Unprovoked,BAHAMAS,Grand Bahama Island,Tiger Beach,Scuba diving,female,F,47,FATAL,Y,10h30,NaN,"Eye Witness News, 11/22/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,10 Nov-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Port Noarlunga,Free diving,Bridgette O’Shannessy,F,32,Injuries to scalp and face,N,13h20,NaN,S. DeMarchi. GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,05 Nov-2023,2023.0,Unprovoked,USA,Florida,"Juno Beach, Palm Beach County",Swimming,Steven Reinhardt,M,66,Lacerations to right forearm,N,10h30,NaN,"ABC, 11/15/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,03 Nov-2023,2023.0,Unprovoked,AUSTRALIA,Westerm Australia,Peak Island,Spearfishing,male,M,<NA>,Minor injury,N,14h00,Lemon shark,"Daily Mail, 11/3/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,02 Nov-2023,2023.0,Unprovoked,NEW ZEALAND,North Island,Cape Pallister,Free diving,male,M,<NA>,Minor injury. Wetsuit shredded,N,09h00,White shark,"NZ Herald, 11/2/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Reported 02 Nov-2023,2023.0,Questionable,EGYPT,Southern Red Sea,Fury Shoal,Scuba diving,Gary Virgo,M,66,No injury. No attack; the shark simply head-butted him,N,NaN,Oceanic whitetip shark,"Daily Mail, 11/2/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,31 Oct-2023,2023.0,Unprovoked,AUSTRALIA,South Australia,Streaky Bay,Surfing,Todd Gendle,M,55,FATAL,Y,10h20,"White Shark, 4.5 m",S. DeMarchi. GSAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,25 Oct 2023,2023.0,Unprovoked,USA,Hawaii,"Pua’ena Point, Haleiwa, Oahu",Surfing,male,M,30,Bite to right thigh,N,15h05,8' tiger shark,"Surfer, 10/25/2023",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN